<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation')%>
    
    
    <main class="vh-100 containter pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque, nulla eos nisi dolorum natus iure officia, eligendi molestias asperiores dicta autem nostrum iusto id velit voluptatibus ipsum distinctio quos. Nemo corporis non deserunt vitae pariatur laboriosam omnis officia! Quia praesentium accusantium molestias veniam dolore error corrupti ducimus sequi nulla est id, odio, deserunt hic amet ipsum eligendi iure quos enim facilis sint! Quo, velit alias, natus deleniti architecto aliquam autem fuga labore modi, delectus dolores cupiditate est placeat! Fugiat voluptas temporibus dolore molestiae distinctio commodi totam nisi excepturi voluptate deleniti officiis rerum quis, praesentium facere aliquam labore. Vel iusto asperiores sequi ratione ducimus nisi maxime pariatur molestiae dolores. Sit, quibusdam. Libero voluptatibus enim impedit ab reiciendis temporibus odit dicta delectus officiis cupiditate iste ut natus eaque quia nisi rem fugit nam quibusdam, aut quae in sed ipsa. Nulla nisi adipisci nihil reiciendis tempora minima consequatur soluta asperiores quaerat explicabo, distinctio repellat eum. Illum possimus rerum aspernatur quas expedita placeat doloribus unde deserunt quam velit quasi, numquam dolorum, temporibus impedit earum. Perspiciatis mollitia at itaque doloribus vero eligendi similique amet ab totam. Enim id distinctio voluptate quam laudantium inventore eveniet quae ratione, facilis nam vero impedit, aspernatur soluta! Voluptatem consectetur, labore inventore obcaecati deserunt reprehenderit cupiditate eos error a quisquam aspernatur quod maiores possimus vel sit illo molestias dolor, minus delectus, iusto reiciendis ullam earum exercitationem. Beatae iste deleniti laborum commodi, inventore nulla sapiente. Iste, recusandae rerum! Voluptatum, non facere. Distinctio in eius nam deleniti atque accusamus delectus mollitia sed laudantium optio velit, non quae consequatur alias. Sint voluptatum distinctio totam voluptas porro? Sint rem fuga quibusdam dicta animi magni minima quo sed accusantium unde reprehenderit, eveniet explicabo id, in velit modi officiis voluptatibus iusto delectus perspiciatis corrupti quaerat? Earum harum praesentium quidem ad, dolore sint ab rem saepe nulla.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>